MONGO_URI=mongodb+srv://<db_username>:<db_password>@ajantha-yoga-cluster.l65n3ae.mongodb.net/ajantha_yoga?retryWrites=true&w=majority&appName=ajantha-yoga-cluster
JWT_SECRET=replace_with_secure_secret
PORT=5001